@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default CSS variables that can be overridden by apps */
    --primary: #000000;
    --primary-dark: #000000;
    --primary-light: #333333;

    --secondary: #ffffff;
    --secondary-dark: #e5e5e5;
    --secondary-light: #ffffff;

    --font-sans: "Inter";
  }
}

/* Example shared component styles */
@layer components {
  .ui-flex-center {
    @apply flex items-center justify-center;
  }

  .ui-container {
    @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}
