inherit-from-workspace-root=true
save-prefix=''
save-dev-prefix=''
node-options=--max-old-space-size=4096
public-hoist-pattern[]=*@types/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
legacy-peer-deps=true
